<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="ISO-8859-1">
<title>LibraryManagementSystem</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  
  <link rel="stylesheet" href="css/index.css">

</head>
<body>
   
<!-- Header -->
<nav class="navbar navbar-inverse  navbar-fixed-top">
 <!--                 
   <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" th:href="@{/home}">Library Management System</a>
    </div>
    
    <ul class="nav navbar-nav">
      <li class="active"><a th:href="@{/home}">Home</a></li>
      
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" >Books<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a th:href="@{/addbook}">Add NewBook</a></li>
          <li><a id="List_Books">List of Books</a></li>
        </ul>
      </li>
      
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Students<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a  th:href="@{/addstudent}">Add NewStudent</a></li>
          <li><a id="List_Students">List of Students</a></li>
        </ul>
      </li>
      
      <li><a href="#">Transaction</a></li>
      <li><a href="#">Page 3</a></li>
    </ul>
  </div>
  -->
</nav>
<!-- end header -->
  

  


  <script src="js/index.js"></script>
  
</body>
</html>